@charset "UTF-8";
/* CSS Document */
#rong{
	width:300px;
	margin:auto;
	}
.h1{
	color: #0FF;
	border:5px;
	}
.ui-listview .ui-li-thumb {
margin:5px;
max-height:80px;
max-width:80px;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
}